<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bid_management.name %>
</p>

<%= link_to 'Edit', edit_bid_management_path(@bid_management) %> |
<%= link_to 'Back', bid_managements_path %>
